@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */


/* @font-face {
    font-family: "k3";
    src: url("font/klavika-medium-webfont.woff") format('woff');
    
}

@font-face {
    font-family: "k4";
    src: url("font/klavika-regular-webfont.woff") format('woff');
} */
@layer base {
    @font-face {
      font-family: 'k1';
      src: url('../assets/font/klavika-bold-webfont.woff') format('woff');
    }
    @font-face {
      font-family: "k2";
      src: url('../assets/font/klavika-light-webfont.woff') format('woff');
    }
    @font-face {
        font-family: "k3";
        src: url('../assets/font/klavika-medium-webfont.woff') format('woff');
      }
      @font-face {
        font-family: "k4";
        src: url('../assets/font/klavika-regular-webfont.woff') format('woff');
      }
  }
  .text-font{
    font-family: k4;
  }
  